@import url("https://rsms.me/inter/inter.css");
.keyboard-layout {
  display: block;
  position: relative;

  width: 100%;

  & > * {
    box-sizing: border-box;
  }

  &-container {
    @supports (font-variation-settings: normal) {
      .global-keyboard-container {
        font-family: "Inter var", sans-serif;
      }
    }
    width: 100%;

    font-family: "Inter", sans-serif;
    box-sizing: border-box;

    &.layout-condensedNumpad {
      display: flex;
    }
  }

  &-keyboard {
    &.layout {
      // Condensed + Numpad configuration
      &-condensedNumpad {
        width: calc(var(--keyboard-width) * (10 / 13));
        height: var(--keyboard-height);
        min-height: 20vh;

        background: #eaeaea;

        .keyboardButton {
          &-root {
            --key-width: calc((var(--keyboard-width) - 24px) * (1 / 13));
            --key-height: calc((var(--keyboard-height) - 24px) * 0.25);
            display: block;

            width: var(--key-width);
            height: var(--key-height);

            border-radius: var(--border-radius, 8px);

            background-color: white;

            box-shadow: 0px 1px rgba(0, 0, 0, 0.4);
          }
        }

        .keyboard-row {
          display: flex;

          padding: 0 12px;

          &:first-child {
            margin-top: 12px;
          }

          &:nth-child(2) {
          }

          &:last-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  &-numpad {
    &.layout {
      &-condensedNumpad {
        width: calc(var(--keyboard-width) * (3 / 13));
      }

      &-numpad {
        width: var(--keyboard-width);
      }
    }
  }
}
